a:link {
    color: fff;
}
a:visited {
    color: #fb982f;
}
a:hover {
    color: #fb982f;
    font-weight: 900;
}
a:active {
    color: #fb982f;
}

.side {
    margin: 10px auto;
    padding: 20px;
    background-color: black;
    color: #fb982f;
}
